@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {

    background-image: url("/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257,40%,49%);
    color: #fff;
    display: flex;
    font-family: 'Open sans', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    min-height: 100vh;
}
    
h1 {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	margin: auto;
	max-width: 100%;
	width: 1200px;
}

.flex {
	display: flex;
}

.flex > div {
	flex: 1;
	margin: 30px;
}

.flex > div:first-child {
 margin-right: 20px;
}

.flex> div:last-child {
margin-left: 30px;
}

button {
	background-color: #fff;
	color: hsl(257,40%,49%);
	padding: 20px 80px;
	border: none;
	border-radius: 50px;
	font-size: 24px;
	box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
}

.social-links {

		display: flex;
		padding: 0;
		list-style-type: none;
}


